@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  background-color: #E0F1F4;
  font-family: "Ubuntu Mono", monospace;
}


h1{
  font-size: 150px;
  letter-spacing: -3px;
}


#div{
  margin: 0px 0px 0px 175px;
}

#div2{
  width: 50%;
  margin: 100px 0px 0px 100px;
}

p{
  font-size: 20px;
}

img{
  width: 375px;
  margin-bottom: 15px;
}

button{
  font-size: 25px;
  width: 200px;
  background-color: #ACECA1;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px; 
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px;
  text-align: center;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#contact_btn{
  margin-top: 65px;
}

@media screen and (max-width: 1200px) {
  h1{
    font-size: 100px;
    letter-spacing: -3px;
  }
  #div{
    margin: 0px 0px 0px 100px;
  }

  #div2{
    width: 50%;
    margin: 35px 30px 0px 50px;
  }
  p{
    font-size: 15px;
  }
  img{
    width: 360px;
  }
  #contact_btn{
    margin-top: 0px;
  }
}

@media screen and (max-width: 900px){
  img{
    width: 300px;
  }
  h1{
    font-size: 75px;
    letter-spacing: -3px;
  }
}

@media screen and (max-width: 600px) {

  img{
    width: 150px;
  }
  
  h1{
    font-size: 50px;
    letter-spacing: -3px;
  }
  p{
    font-size: 7px;
  }
  button{
    font-size: 10px;
    width: 50px;
    background-color: #ACECA1;
  }
  #div{
    margin: 0px 0px 0px 30px;
  }

  #div2{
    width: 50%;
    margin: 0px 30px 0px 25px;
  }
  
}
